*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  scroll-behavior:smooth;
}

body{
  background: var(--color-bg);
}

.background-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('ABC Banking Application Design.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}


.gradient-box-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%; /* Left half */
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 31, 63, 1)20%, rgba(3, 16, 38, 0.8) 40%, rgba(3, 20, 38, 0.7) 65%, rgba(255, 255, 255, 0.05) 100%);
  color: white;
  display: flex;
  flex-direction: column; /* Align content vertically */
  justify-content: center;
  align-items: center;
  z-index: -1; /* Above background */
}

.gradient-box-right {
  position: absolute;
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  width: 100%; /* Width can remain 50% */
  height: 100%;
  background: linear-gradient(180deg, rgba(3, 22, 41, 0.95) 0%, rgba(245, 246, 249, 0) 35%); /* Change to vertical gradient */
  color: white;
  display: flex;
  flex-direction: column; /* Align content vertically */
  justify-content: center;
  align-items: center;
  z-index: -1; /* Above background */
}